/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
}

.sidebar {
  width: 28%;
  min-width: 300px;
  background-color: #333;
  height: 100%;
}

.main-area {
  width: 72%;

  border: 1px solid green;
  flex-shrink: 9;
  /* min-width: 720px; */
  background-color: rgb(98, 99, 100);
  height: 100%;
}

.ribbon {
  border: 1px solid white;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.round-img {
  background-color: #a32424;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.side-chats {
  overflow-y: auto;
}

.min-h-customHeight {
  height: 74vh;
  /* max-width: fit-content; */
  /* Adjust the percentage as needed */
}

.inputArea {
  position: relative;
}


i {
  position: absolute;
  z-index: 0;
  top: 12px;
  color: #444;
  left: 4px;
}