/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #cecccc;
  display: grid;
  height: 100vh;
  place-items: center;
}

.greenbg {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 142px;
  background-color: #159587;
}

.app {
  display: flex;
  color: #333;
  width: 97vw;
  overflow-y: hidden;
  justify-content: space-between;
  margin: auto;
  height: 94vh;
}

.sidebar {
  width: 28%;
  min-width: 300px;
  background-color: #ffffff;
  height: 100%;
}

.main-area {
  width: 72%;

  /* border: 1px solid #d5d4d476; */
  flex-shrink: 9;
  /* min-width: 720px; */
  background-color: rgb(98, 99, 100);
  /* height: 90vh; */
}

.ribbon {
  /* border: 1px solid white; */
  padding: 5px 10px;
  border-left: 1px solid rgba(128, 128, 128, 0.272);
  /* display: flex;
  align-items: center; */
}

.round-img {
  background-color: #186e9f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 15px;
}

.side-chats {
  overflow-y: auto;
}

.side-upper,
.side-input,
.ribbon {
  background-color: #f0f2f5;
}

.side-input {
  /* border: 1px solid white; */
  border: none;
  outline: none;
}

.min-h-customHeight {
  max-height: 75vh;
  /* max-width: fit-content; */
  /* Adjust the percentage as needed */
}

.inputArea {
  position: relative;
  background-color: #fff;
}


.searchIcon {
  position: absolute;
  top: 22px;
  color: #555;
  font-size: 1.23rem;
  left: 30px;
}


.max-part {
  background-color: #efeae2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%239C92AC' fill-opacity='0.24' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.addIcon {
  font-size: 1.5rem;
  display: inline-block;
  color: rgba(0, 0, 0, 0.651);
  cursor: pointer;
}

.animate {
  animation: zoomIn .8s linear infinite;
  animation-direction: alternate
}

@keyframes zoomIn {
  to {
    transform: scale(1.2);
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
  }
}

.deleteIcon {
  color: tomato;
  font-size: 1.3rem;
  cursor: pointer;
}

.send-msg {
  /* width: 90%; */
  position: relative;
  /* box-shadow: 0 0 10px purple; */
  background-color: #f0f2f5;
  padding: 16px clamp(20px, 4rem, 60px);
}

.sendIcon {
  font-size: 1.8rem;
  color: blue;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 10px;
}

.cancelIcon {
  font-size: 1.3rem;
  color: tomato;
}

.send-input {
  border: none;
  outline: none;
  /* border-top: 1px solid green; */
}

.popup {
  position: absolute;
  /* scale: 0; */
  top: 35%;
  left: 50%;
  background: #000000a5;
  padding: 2rem 4rem;
  transition: transform 0.3s ease-in-out;
}

.popup-input {
  background: transparent;
  border: none;
  outline: none;
  margin-left: 1.5rem;
  /* padding: 4px; */
  border-bottom: 2px solid rgb(104, 104, 104);
  transition: all 0.3s ease-out;
}

.popup-input:focus {
  box-shadow: 0px 0px 2px rgb(123, 122, 122);
  transform: scale(1.1);
}


::-webkit-scrollbar {
  width: 6px;
  /* Width of the entire scrollbar */
}


::-webkit-scrollbar-thumb {
  background-color: #969b9f;
  /* Color of the thumb (the draggable part) */
  border-radius: 6px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.file-input {
  border: 1px solid silver;
  cursor: pointer;
  padding: 4px clamp(12px, 4rem, 60px);
  border-radius: 8px;
}

/* .sidechat {
  border-bottom: 1px solid rgba(58, 58, 58, 0.477);
} */

.send-input {
  background-color: #fff;
}

small.desc {
  color: #333;
  /* width: 50%; */
}

.chatDesc {

  width: clamp(40px, 80%, 220px)
}

.chat-area {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  /* justify-content: flex-end; */
  height: 75vh;
  overflow-y: auto;
  padding: 1.2rem 2.6rem;

}

.cross {
  display: none;
}

.backIcon {
  display: none;
}

@media(max-width:600px) {

  .app {
    overflow: hidden;
    position: relative;
  }

  .cross {
    display: block;
  }

  .backIcon {
    display: block;
    margin: 0 10px;
  }

  .sidebar {
    min-width: 100vw;
    color: #186e9f;
    /* opacity: 0; */
    z-index: 1;
    /* background-color: #5c91b0; */
  }

  .main-area {
    width: 100vw;
    position: absolute;
    /* transform: translateX(25vw); */
    /* z-index: -1; */
    min-height: 100vh;
  }

}

@media(max-width:1480px) {
  .app {
    /* background: #000;
     */
    width: 100vw;
    height: 100vh;
  }


}